.container {
    width: "100%";
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.infoItem {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
}

.title {
    color: blue;
    font-size: xx-large;
}

.amountLine {
    display: flex;
    font-size: larger;
}

.amount {
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.amountRate {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.arrowUp {
    margin: 5px;
    color: green;
}

.arrowDown {
    margin: 5px;
    color: red;
}

.subTitle {
    font-size: 15px;
    color: gray;
}