

.product-inline {
    display: flex;
    align-items: center;
    margin: 5px 5px;
}

.product-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: thistle;
    border-style: solid;
    border-width: 1px;
    object-fit: cover;
    margin-right: 10px;
}

.product-action-container {
    display: flex;
    justify-items: center;
}