.skeleton-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 5px;
}

.skeleton-element {
    margin-right: 0px 5px;
}